/*
 * Figures
 */
body {
  counter-reset: figure;
}
div.figure {
  margin: 2.5em 0;
  text-align: center;
  page-break-inside: avoid;
}
div.figure img {
  display: block;
  margin: auto;
  max-width: 100%;
}
img {
  border-style: none;
}
div.figure {
  text-align: center;
}
p.caption:before {
  content: "Figure " counter(figure, decimal) ". ";
}
p.caption {
  counter-increment: figure;
  font-style: italic;
  text-align: center;
}

/*
 * Feedback wanted
 */
div.feedbackWanted:before, p.feedbackWanted:before {
  display: block;
  content: "Feedback wanted";
  background: white;
  border: 1px solid #F88;
  font-weight: bold;
  margin: -1.5em 0 0.5em;
  padding: 3px 1em;
  width: 150px;
}
div.feedbackWanted, p.feedbackWanted {
  display: block;
  background: #FEE;
  margin: 1em 0 0;
  padding: 1em;
}
